---
interface TeamI {
  id: number;
  name: string;
  rol: string;
  image: string;
}

interface Props {
  card: TeamI;
}

const { card } = Astro.props;
---

<article
  id={card.id.toString()}
  class={`bg-gray-600/30 shadow-lg shadow-primary/10 mt-[7rem] max-lg:gap-y-5 min-h-64 text-white rounded-3xl hover:scale-[1.02] z-20 transition-all px-[12px] flex flex-col items-center w-56`}
>
  <header class="z-10 -mt-16 flex items-center gap-2 pb-6">
    <img
      src={card.image}
      alt={`Foto de ${card.name}`}
      width="148"
      height="148"
      class="rounded-full ring-8 ring-dark-2"
    />
  </header>
  <div class="mx-auto flex h-28 flex-col items-center justify-between gap-y-4">
    <h3 class="text-center text-sm font-bold uppercase">{card.name}</h3>
    <div class="mx-auto h-[2px] w-28 rounded-full bg-white/70"></div>
    <h4 class="text-center text-xs font-medium uppercase">{card.rol}</h4>
  </div>
</article>
